<!--<nav-->
<!--  class="bottom-0 left-0 justify-around items-center flex flex-row w-full h-20 bg-emerald-900"-->
<!--&gt;-->
<!--  <a class="flex flex-col items-center content-center gap-2 p-2" href="#"-->
<!--    ><i class="fa-solid fa-house"></i><span>Home</span></a-->
<!--  >-->
<!--  <a class="flex flex-col items-center content-center gap-2 p-2" href="#"-->
<!--    ><i class="fa-solid fa-magnifying-glass"></i><span>Search</span></a-->
<!--  >-->
<!--  <a class="flex flex-col items-center content-center gap-2 p-2" href="#"-->
<!--    ><i class="fa-solid fa-calendar"></i><span>Event</span></a-->
<!--  >-->
<!--  <a class="flex flex-col items-center content-center gap-2 p-2" href="#"-->
<!--    ><i class="fa-solid fa-circle-question"></i><span>Support</span></a-->
<!--  >-->
<!--</nav>-->

<div class="dock dock-lg">
  <a class="dock-active" href="/main.html">
    <i class="fa-solid fa-house"></i>
    <span class="dock-label">Home</span>
  </a>

  <a href="/">
    <i class="fa-solid fa-magnifying-glass"></i>
    <span class="dock-label">Search</span>
  </a>

  <a href="/create.html">
    <i class="fa-solid fa-calendar"></i>
    <span class="dock-label">Event</span>
  </a>

  <!-- TODO: Add support.html -->
  <a href="/index.html">
    <i class="fa-solid fa-circle-question"></i>
    <span class="dock-label">Support</span>
  </a>
</div>
