<!--<nav-->
<!--  class="bottom-0 left-0 justify-around items-center flex flex-row w-full h-20 bg-emerald-900"-->
<!--&gt;-->
<!--  <a class="flex flex-col items-center content-center gap-2 p-2" href="#"-->
<!--    ><i class="fa-solid fa-house"></i><span>Home</span></a-->
<!--  >-->
<!--  <a class="flex flex-col items-center content-center gap-2 p-2" href="#"-->
<!--    ><i class="fa-solid fa-magnifying-glass"></i><span>Search</span></a-->
<!--  >-->
<!--  <a class="flex flex-col items-center content-center gap-2 p-2" href="#"-->
<!--    ><i class="fa-solid fa-calendar"></i><span>Event</span></a-->
<!--  >-->
<!--  <a class="flex flex-col items-center content-center gap-2 p-2" href="#"-->
<!--    ><i class="fa-solid fa-circle-question"></i><span>Support</span></a-->
<!--  >-->
<!--</nav>-->

<div class="dock dock-lg">
  <a class="" href="main.html">
    <i class="fa-solid fa-house"></i>
    <span class="dock-label">Home</span>
  </a>

  <a class="" href="search.html">
    <i class="fa-solid fa-magnifying-glass nav-link"></i>
    <span class="dock-label">Search</span>
  </a>

  <a class="relative">
    <label class="swap swap-rotate">
      <!-- this hidden checkbox controls the state -->
      <input type="checkbox" id="dock-event-menu-toggle" />

      <!-- event icon -->
      <i class="fa-solid fa-calendar swap-off"></i>

      <!-- close icon -->
      <i class="fa-solid fa-times swap-on fill-current"></i>
    </label>
    <span class="dock-label">Event</span>

    <div class="absolute bottom-full flex-col gap-3 hidden">
      <button class="btn btn-circle relative" id="dock-my-events">
        <i class="fa-solid fa-badge-check"></i>
        <span class="absolute left-[120%] text-nowrap text-xs">My Events</span>
      </button>

      <button class="btn btn-circle relative" id="dock-create-event">
        <i class="fa-solid fa-plus"></i>
        <span class="absolute left-[120%] text-nowrap text-xs"
          >Create Event</span
        >
      </button>
    </div>
  </a>

  <a class="" href="support.html">
    <i class="fa-solid fa-circle-question"></i>
    <span class="dock-label">Support</span>
  </a>
</div>
