<!--<nav-->
<!--  class="flex justify-between bg-emerald-900 bg-cover py-4 px-auto items-center"-->
<!--&gt;-->
<!--  <a href="">-->
<!--    <h1 class="font-extrabold flex p-2 items-end">-->
<!--      <span class="text-blue-400 text-5xl">Cal</span>-->
<!--      <span class="text-4xl">Sync</span>-->
<!--    </h1>-->
<!--  </a>-->
<!--  <a class="flex flex-col text-center items-center mr-4" href="">-->
<!--    <svg-->
<!--      class="w-10 h-10"-->
<!--      xmlns="http://www.w3.org/2000/svg"-->
<!--      viewBox="0 0 24 24"-->
<!--      fill="none"-->
<!--      stroke="currentColor"-->
<!--      stroke-linecap="round"-->
<!--      stroke-linejoin="round"-->
<!--      width="24"-->
<!--      height="24"-->
<!--      stroke-width="2"-->
<!--    >-->
<!--      <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>-->
<!--      <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>-->
<!--      <path-->
<!--        d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"-->
<!--      ></path>-->
<!--    </svg>-->
<!--    profile-->
<!--  </a>-->
<!--</nav>-->

<nav class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <div class="w-min">
      <a href="" class="w-min">
        <h1 class="font-extrabold flex p-2 items-end">
          <span class="text-blue-400 text-5xl">Cal</span>
          <span class="text-4xl">Sync</span>
        </h1>
      </a>
    </div>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
          />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
