<nav class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <div class="w-min">
      <a href="" class="w-min">
        <h1 class="font-extrabold flex p-2 items-end">
          <span class="text-blue-400 text-4xl">Cal</span>
          <span class="text-3xl">Sync</span>
        </h1>
      </a>
    </div>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
          />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li>
          <a class="justify-between" href="profile.html">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <!-- TODO -->
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
  <div class="toast toast-top toast-end z-10" id="toast-container"></div>
</nav>
