:root {
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  align-items: stretch;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

calendar-month {
  &::part(event) {
    /* Styles to apply to the `foo` part */
    /*background-color: green;*/
    position: relative;
  }
  &::part(event)::before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-secondary);
    border-radius: 100%;
    width: 6px;
    height:6px;
  }

}

.steps {
  .step {
    &:before {
      transition: all 0.2s ease-in-out;
    }
    > .step-icon, &:not(:has(.step-icon)):after {
      transition: all 0.2s ease-in-out;
    }
  }
}
